@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body{
  font-family: "Ubuntu", sans-serif;
}

.active{
  color: oklch(70.5% 0.213 47.604);
}